@page
@model MeasurementList
@{
    ViewData["Title"] = "Measurements";
}
<h1>@ViewData["Title"]</h1>

<table class = "table">
        <tr>

        </tr>
    @foreach (var log in Model.Measurements)
    {

    }
</table>

<a asp-page = "./MeasurementEdit" class = "btn btn-primary">Add New</a>