@page
@model MeasurementKeyList
@{
    ViewData["Title"] = "Measurement Keys";
}
<h1>@ViewData["Title"]</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class = "form-control" value = "" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class = "btn btn-primary btn-default">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>
<div class="row">
@foreach(var measurementKey in Model.MeasurementKeys)
{
    <partial name="_MeasurementKeyCards" model="measurementKey" />
}
</div>

<a asp-page = "./MeasurementKeyEdit" class = "btn btn-primary">Add New</a>