@page "{measurementKeyId:int?}"

@model MeasurementKeyEdit
@{
    ViewData["Title"] = "Editing " + Model.MeasurementKey.Name;
}
<h1>Editing @Model.MeasurementKey.Name</h1>

<form method="post">
    <input type="hidden" asp-for="MeasurementKey.MeasurementKeyId" />
    <div class="form-group">
        <label asp-for="MeasurementKey.Name"></label>
        <input asp-for="MeasurementKey.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="MeasurementKey.Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}