@page "{aquariumId:int}"

@model AquariumDelete
@{
}
@{
    ViewData["Title"] = "Delete";
}
<h1>Deleting @Model.Aquarium.Name</h1>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Aquarium.Name?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-page="AquariumList" class="btn btn-primary">Cancel</a>
    </form>