@page "{aquariumId:int}"

@model AquariumDetails
@{
    ViewData["Title"] = "Aquariums";
}
<h1>@Model.Aquarium.Name</h1>
<div>

</div>
<div>
    Capacity: @Model.Aquarium.Capacity
</div>
<div>
    @{var type = Model.Aquarium.Freshwater ? "Freshwater" : "Saltwater"; }
    Type: @type
</div>
<div>
    Description: @Model.Aquarium.Description
</div>